<h1 mat-dialog-title class="titulo-add-edit">{{data.titulo}}</h1>
<div mat-dialog-content>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Asignatura </mat-label>
    <mat-select [(ngModel)]="idAsignatura" name="asignatura">
      <mat-option *ngFor="let asignatura of asignaturas" [value]="asignatura.idmateria">
        {{asignatura.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill"  *ngIf="data.persona.idTipoPersona == tipoAlumno">
    <mat-label>Fecha</mat-label>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [value]="fecha" required
    (dateChange)="dateInput($event.value)">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="multi-year"></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill" *ngIf="data.persona.idTipoPersona == tipoAlumno">
    <mat-label>Calificación</mat-label>
    <input matInput placeholder="Ex. 3.0" type="number" required  [(ngModel)]="calificacion" name="calificacion" required>
  </mat-form-field>



</div>
<div mat-dialog-actions class="full-width">
  <button mat-stroked-button (click)="onNoClick()">Cerrar</button>
  <button mat-stroked-button  (click)="guardar()" color="primary">Aceptar</button>

</div>
