/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green-snackbar {
  color: rgb(255, 255, 255);
  background-color: rgb(94, 183, 76);
}

.red-snackbar {
  color: rgb(255, 255, 255);
  background-color: rgb(205, 62, 62);
}
